body {
    background: linear-gradient(45deg, #4B296B, #4C2C72, #FAB2EA);
}

.floating-menu {
    position: fixed;
    top: 50px; /* Distancia desde la parte superior de la página */
    right: 20px; /* Distancia desde la parte derecha de la página */
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.floating-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.floating-menu ul li {
    margin-bottom: 10px;
}

.floating-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.floating-menu ul li a:hover {
    text-decoration: underline;
}

#titulo{
    text-align: left;
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#titulo-texto{
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;          
    font-weight: bold;       
    color: #333;               
    margin: 20px 0;            
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#blackhr{
    padding: 0.4%;
    background-color: black;
}

#fondo-middle{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

#textoDescr{
    margin-left: 10%;
    padding-bottom: 4%;
    font-family: Roboto;
    font-size:larger;
}

h1 {
    font-size: 400%;
    color: #4B296B;
}

h2 {
    color:#4B296B;
}

p {
    font-size: larger;
}

#middle{
    margin-left: 20%;
    margin-right: 20%;

    background-color: black;
    color: white;
    padding:100px;
    text-align: center;
    border-radius: 8px;
}

#accordionMiddle{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.letrasAcordeon{
    color: #4B296B;
    font-size: 150%;
}


.accordion-button:not(.collapsed) {
    background-color: #4B296B; 
    color: white;              
}

.accordion-button.collapsed {
    background-color: #DECDF5; 
    color: white;              
}


.accordion-body {
    background-color: #f5f5f5; 
    color: #333;               
}

.final{
    width: 10rem; height: 10rem;
}
