body, html {
  height: 97%;
  margin-top: 0%;
  font-family: Arial, sans-serif;
}

/* Header */

#header{
  text-align: center;
  display: flex;
}


#header-color1 {
  flex: 1;
  background: linear-gradient(to right, white, #9C89B8);
}

#header-color {
  flex: 2;
  background-color: #9C89B8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-color2 {
  flex: 1;
  background: linear-gradient(to left, white, #9C89B8);
}

#textoHeader{
  font-size: 550%;
}

#middle{
  background-color: black;
  height: 60%;
}

.textoMiddle{
  color: white;
  margin-left: 10%;
  margin-right: 7%;
  margin-top: 0%;
  padding-top: 2%;

  font-family: Roboto;
  font-size: large;
}


#footer{
  text-align: center;
  display: flex;
  height: 15.3%;
}


#footer-color1 {
  flex: 1;
  background: linear-gradient(to right, white, #9C89B8);
}

#footer-color {
  flex: 2;
  background-color: #9C89B8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-color2 {
  flex: 1;
  background: linear-gradient(to left, white, #9C89B8);
}

#footerHeader{
  font-size: 550%;
}

/* Menu */

  .menu-contenedor {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px; 
    background-color: #9C89B8;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .menu-icon {
    width: 7vh;
    height: 7vh;
    margin-right: 8px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-text {
    display: none;
    color: black;
  }
  
  .menu-items li:hover .menu-text {
    display: inline;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu-items a:hover {
    color: #8963BA; 
  }

  li:hover{
    background-color: #8963BA;
  }


.gente{
  margin-left: 30%;
}

.botonUsuario{
  margin-left: 15%;
  margin-top: 2%;
  padding: 1%;
  border-radius: 25px;
  font-size: medium;
  font-family: Roboto;
}

:hover.botonUsuario{
  background-color: #9C89B8;
}

.personaTitulo{
  margin-top: 0%;
  margin-right: -10%;
  padding-bottom: 2%;
  background-color: #7A52BA;
}

.personaTexto{
  margin-left: 10%;
  padding-top: 5%;
  font-size: 250%;
}


/* Usuarios */

.card-img-top{
  margin-left: -25%;
  margin-top: 5%;
  height: 25vh;
}

.nombre{
  font-size: 200%;
  margin-left: -25%;
}

/* Contacto */

#formulario{
  margin-left: 20%;
  margin-right: 40%;
  background-color: #7A52BA;
}

.formularioTexto{
  margin-top: 3%;
  margin-bottom: 0%;
  padding: 10%;
}

.formularioSeparacion{
  margin-top: 4%;
}
