*{
    margin: 0;
    font-family: Arial, sans-serif;
}
/* header */
header{
    /* width: 250vh;
    height: 13vh;
    margin-bottom: 10vh;
    margin-left: -8vw;
    background-color: #E99857;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; */
}

h1{
    position: absolute;
}

/* Menu */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px; 
    background-color: #CDDFA0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .menu-icon {
    width: 7vh;
    height: 7vh;
    margin-right: 8px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-text {
    display: none;
    color: black;
  }
  
  .menu-items li:hover .menu-text {
    display: inline;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu-items a:hover {
    color: #ffcc00; 
  }

  li:hover{
    background-color: #74961C;
  }
