*{
    margin: 0;
    font-family: Arial, sans-serif;
}
/* header */
header{
    width: 100vw;
    height: 13vh;
    margin-bottom: 10vh;
    margin-left: -8vw;
    background-color: #E99857;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

h1{
    position: absolute;
}

.hroles{
    font-size: 2vh;
    text-align: right;
    width: 87vw;
    margin-right: 5vw;
}

.logout{
    width: 8vh;
    margin-left: 20%;
}

/* Menu */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px; 
    background-color: #CDDFA0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 13vh;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .menu-icon {
    width: 7vh;
    height: 7vh;
    margin-right: 8px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-text {
    display: none;
    color: black;
  }
  
  .menu-items li:hover .menu-text {
    display: inline;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu-items a:hover {
    color: #ffcc00; 
  }

  li:hover{
    background-color: #74961C;
  }

/* Contenido */

.contenido{
    margin-left: 8vw;
}
.containerPage{
  padding-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Contenido productos */
.contenido-productos{
  margin-left: 8vw;
}
.containerPage-productos{
  margin-top: -4vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Cesta productos */
#cesta-productos{
  padding-top: 18vh;
  padding-left: 10vw;
  padding-right: 5vw;
}
#but-cesta-productos{
  background-color: #E99857; 
  border-radius: 10px;
}
#but-cesta-productos:hover{
  background-color: #e07f2f;
  border-color: black;
  color:black;
}
#but-cesta-productos:active {
  background-color: #F4E3C8;
}

/* pop-up productos */
.thead-prod-head{
  background-color: #e07f2f;

}
#prod{
  background-color: #F4E3C8;
}
.taula-pop-produk td{
  vertical-align: middle;
  text-align: center;
}
.thead-prod-head th{
  vertical-align: middle;
  text-align: center;
}
#pop-prod{
  background-color: #e07f2f;
  color: black;
}

/* Tablas */

body{
    background-color: #F4E3C8;
}

.table th {
    background-color: #E99857;
}

.table-hover tbody tr:hover td {
    background-color: #e3f8ac;
    cursor: pointer;
}

/* Botón añadir */
.añadir{
    background-color: #E99857;
    border-color: black;
    color:black;
    margin: 15px;
    height: 45px;
}

.añadir:hover{
    background-color: #e07f2f;
    border-color: black;
    color:black;
    margin: 15px;
}
.añadir:active {
    background-color: #dd6d12;
}

/*Botón cancelar*/
.cancelar{
  background-color: #d8d7d6;
  border-color: black;
  color:black;
  margin: 15px;
  height: 45px;
}

.cancelar:hover{
  background-color: #a8a8a8;
  border-color: black;
  color:black;
  margin: 15px;
}
.cancelar:active {
  background-color: #dd6d12;
}

/*Botón papelera*/
.papelera{
  background-color: #d8d7d6;
  border-color: black;
  color:black;
}

.papelera:hover{
  background-color: #a8a8a8;
  border-color: black;
  color:black;
}

/* Botón X editar horarios */
.x{
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 1px;
  height: 35px;
  font-size: 1.5rem;
}

.x:hover{
  background-color: #e0442f;
  border-color: black;
  color:black;
}

.x:active {
  background-color: #dd6d12;
}

/* Bilatu botoia */
.lupa{
    background-color: #E99857;
    border-color: black;
    color: black;
    height: 45px;
}

.lupa:hover{
    background-color: #e07f2f;
    border-color: black;
    color: black;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;
}
.input-group-estadisticas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  align-content: center;
  flex-wrap: wrap;
}

.input-group-append{
    margin: 15px;
}

.input-group-horarios{
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin: 15px; */
}

.buscar{
    max-width: 200px;
    height: 45px;
}

.combobox{
    width: 150px;
}

.tablaHorarios{
  display:none;
}

.tablaRoles{
  display: none;
}

.contenidoTabla{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 1000;
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
}
.contenidoTablaProd{
  background-color: rgb(255, 255, 255);
  padding: 25px;
  z-index: 1000;
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fondo-ocultoHorarios {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 997; 
}

.mostrar-fondo {
  display: block; 
}

/* POPUP Langile */

/* .ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid black;
  padding-top: 8vh;
  padding-bottom: 6vh;
  padding-left: 10vh;
  padding-right: 2vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
  flex-direction: column;
} */

#cerrarVentanaLangile{
  position: absolute;
  margin-right: 0%;
  margin-top: 10%;
}

#submitLangile{
  margin-left: 80%;
}

#gruposLabelLangile{
  font-size: 2.5em;
  margin-left: -68%;
  margin-top: 5%;
}

#apellidoLabelLangile{
  font-size: 2.5em;
  margin-left: -65%;
}

#nombreLabelLangile{
  font-size: 2.5em;
  margin-left: -65%;
}

#gruposLangilea{
  margin-left: 38%;
}

#selectorLangilea{
  margin-left: 15%;
}

.fondo-oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
}


/* POPUP-Grupos */

.ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 6vh;
  background-color: white;
  z-index: 999;
}

.ventana-ocultaTicketMirar{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 21vh;
  background-color: white;
  z-index: 999;
}

.contenido-ventana {
  text-align: center;
}

#cerrarVentanaGrupos{
  position: absolute;
  margin-top: 4%;
  margin-right: 0%;
}

#submitGrupo{
  margin-right: -75%;
}

#nombreLabelGrupos{
  margin-left: -65%;
  font-size: 2.5em;
}

.fondo-oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
}

.mostrar-fondo {display: block;}

/* POPUP Añadir Material */

#cerrarVentanaAñadirMaterial{
  /* position: absolute; */
  margin-top: -2%;
  margin-right: 0%;
}

#idLabelMaterial{
  font-size: 2.5em;
  margin-left: -90%;
}

#modeloLabelMaterial{
  font-size: 2.5em;
  margin-left: -68%;
}

#etiquetaLabelMaterial{
  font-size: 2.5em;
  margin-left: -67%;
}

#nombreLabelMaterial{
  font-size: 2.5em;
  margin-left: -67%;
}

#descripcionLabelMaterial{
  font-size: 2.5em;
  margin-left: -50%;
}

#submitAñadirMaterial{
  margin-left: 79%;
}

/* POPUP ReservarMaterial */

#mostrarVentanaReservarMaterial{
  margin-right: 0%;
  margin-left: 0%;
}


#reservarMaterial{
  margin-left: 40vh;
  margin-right: 20%;
}

#submitAñadirMaterialBoton{
  margin-right: 1108%;
}

#ventanaEmergenteReservarMaterial{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 6vh;
  background-color: white;
  z-index: 999;
}

/* .ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 6vh;
  background-color: white;
  z-index: 999;
} */

/* POPUP Ticket */

#cerrarVentanaTicket{
  margin-right: 0%;
}

#nombreLabelTicket{
  font-size: 2.5em;
  margin-left: -65%;
}

#tratamientosLabelTicket{
  font-size: 2em;
  margin-left: -56%;
}

#precioAPagarT{
  background-color: #F8B957;
  margin-left: 10%;
  margin-right: 10%;
  
}

#precioLabelTicket{
  font-size: 1.9em;
}

#generarFichaTicket{
  margin-left: 30%;
}

/* POPUP TicketMirar */

#cerrarVentanaTicketMirar{
  margin-right: 0%;
  margin-left: 100%;
  margin-top: -10%;
}

#nombreTextoTicketMirar{
  margin-left: -25%;
}

#nombreLabelTicketMirar{
  font-size: 2.5em;
  margin-left: -75%;
  margin-top: -30%;
}

#fechaTicketMirarC{
  margin-right: 20%;
}

#finalizarTicketMirar{
  margin-left: 120%;
}

#tratamientosLabelTicketMirar{
  font-size: 2.5em;
}

#precioLabelTicketMirar{
  font-size: 1.9em;
  margin-left: 8%;
}

/* POPUP CitasPost */


#nombreLabelCitasPost{
  font-size: 2.5em;
}

#delCentro{
  font-size: 1.3em;
  margin-left: 30%;
}

#switch{
  margin-left: 6%;
}

#cerrarVentanaCitasPost{
  margin-left: 0%;
  margin-right: 0%;
}

#inicioLabelCitasPost{
  font-size: 2.5em;
}

#finalLabelCitasPost{
  font-size: 2.5em;
  margin-left: 10%;
}

#relojInicio{
  margin-left: 10%;
}

#relojFinal{
  margin-left: 2%;
}

#entreReloj{
  margin-left: 2%;
  margin-top: 4%;
  font-size: 2em;
}

#telefonoLabelCitasPost{
  font-size: 2.5em;
  margin-left: -65%;
}

#precioLabelCitasPost{
  font-size: 1.9em;
}

#precioAPagarCitasPost{
  font-size: 1.6em;
}

#generarFichaCitasPost{
  margin-left: 10%;
}

#finalizarCitasPost{
  margin-left: 13%;
}

.traducir{
  margin-right: 3%;
  margin-left: -2%;
}

#esp{
  font-size: large;
  margin-right: 20%;
  border-radius: 15%;
}

#eus{
  font-size: large;
  border-radius: 15%;
}

#esp:hover {
  background-color: #E26B6B;
}

#eus:hover {
  background-color: #CDDFA0;
}