body, html {
    height: 97%;
    margin-top: 0%;
    font-family: Arial, sans-serif;
    background-color: #B2B5E0;
  }
  
  /* Header */
  
  #header{
    text-align: right;
    margin-right: 5%;
    background-color: #B2B5E0;
    background: linear-gradient(to right, #B2B5E0, #8963BA);
    padding: 1%;
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  #headerAll{
    
  }

  #header-color1 {
    flex: 1;
    background: linear-gradient(to right, white, #9C89B8);
  }
  
  #header-color {
    flex: 2;
    background-color: #9C89B8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #header-color2 {
    flex: 1;
    background: linear-gradient(to left, white, #9C89B8);
  }
  
  #textoHeader{
    font-size: 550%;
  }
  
  /* Menu */
  
    .menu-contenedor {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px; 
      background-color: #8963BA;
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .menu {
      width: 100%;
      padding: 16px;
      color: white;
      text-align: center;
      cursor: pointer;
    }
    
    .menu-header {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    
    .menu-icon {
      width: 7vh;
      height: 7vh;
      margin-right: 8px;
    }
    
    .menu-items {
      list-style-type: none;
      padding: 0;
    }
    
    .menu-items li {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    
    .menu-image {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    
    .menu-text {
      display: none;
      color: black;
    }
    
    .menu-items li:hover .menu-text {
      display: inline;
    }
    
    .menu-items a {
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
    
    .menu-items a:hover {
      color: #9C89B8; 
    }
  
    li:hover{
      background-color: #9C89B8;
    }


    /* Home */

    #medioHome{
      background-color: #8963BA;
      height: 650px;
      width: 1400px;
      margin-left: 15%;
      margin-top: 2%;
      border-radius: 2%;
    }

    #selectorHomeCategoria{
      position: fixed;
      margin-top: 5%;
      margin-left: 5%;
      width: 20%;
    }